{% extends 'main/base.html' %}
{% block board_active %}active{% endblock %}
{% block body %}

<canvas id="chart"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<script>

$.ajax({ url:"{% url 'main:get_prices' code 'all' %}",
       dataType:'json',
       success:function(data){
	labels = []
	dataset = []
	for(var key in data) {
		if(data.hasOwnProperty(key)) {
			labels.push(key)
			//dataset.push(data[key])
		}
	}
	labels.sort();
	var len = labels.length;
	var i = 0;
	for(i=0; i<len; i++) { dataset.push(data[labels[i]]); }

	var ma = function(n) {
		var ret = [];
		var i = 0;
		for(i=0;i<n-1;i++) { ret.push(dataset[i]); }
		for(i=n-1;i<len;i++) { ret.push(dataset.slice(i-n+1,i+1).reduce((a,b) => a+b, 0) / n); }
		return ret;
	}

	var ma20 = ma(20);
	var ma60 = ma(60);
	var ma120 = ma(120);


	var ctx = document.getElementById('chart').getContext('2d');
	var chart = new Chart(ctx, {
		    // The type of chart we want to create
		    type: 'line',

		    // The data for our dataset
	  	    data: {
				labels: labels,
				datasets: [{
					    label: "Adj Close",
					    backgroundColor: 'rgba(50,50,50,0.5)',
					    borderColor: 'rgb(70,70,70)',
					    pointRadius: 1,
					    data: dataset,
				},
				{
					label: "MA20",
					backgroundColor: 'rgba(255,0,0,0)',
					borderColor: 'rgb(255,0,0)',
					pointRadius: 1,
					data: ma20,
				},
				{
					label: "MA60",
					backgroundColor: 'rgba(0,255,0,0)',
					borderColor: 'rgb(0,255,0)',
					pointRadius: 1,
					data: ma60,
				},				
				{
					label: "MA120",
					backgroundColor: 'rgba(0,0,255,0)',
					borderColor: 'rgb(0,0,255)',
					pointRadius: 1,
					data: ma120,
				},


				],
		    },

		     // Configuration options go here
		     options: {}
	});
       }
})

</script>

{% endblock %}
