{% extends 'main/base.html' %}
{% block board_active %}active{% endblock %}
{% block body %}

  <button type="button" class="btn btn-primary" padding:10px>Update</button> <br>

  <table id="board" class="table table-striped tablesorter">
	  <thead>
	  <tr>
	  <th>Code</th>
	  <th>Name</th>
	  <th>{{ TodayShort }}</th>
	  </tr>
	  </thead>

	  <tbody>
  {% for c in Companies %}
    <tr>
	    <td><a href="{% url 'main:detail' c.code %}">{{ c.code }}</a></td>
	    <td><a href="{% url 'main:detail' c.code %}">{{ c.name }}</a></td>
	    <td id="{{ c.code }}"></td>

    </tr>
  {% endfor %}
	  </tbody>
  </table>

<script>
$(document).ready(function(){
  $.ajax({
	  url: "{% url 'main:price_change' 'all' Today %}",
	  dataType: "json",
	  success: function(data) {
		  for(var k in data) {
			  if(data.hasOwnProperty(k)) {
				  v = data[k];
				  if(k.startsWith('^')) { k = "\\" + k; }
				  k = '#' + k;
				  $(k).html(v);
				  if(v.startsWith('+')) {
					  $(k).css('color', 'red');
				  } else if(v.startsWith('-')) {
					  $(k).css('color', 'blue');
				  }
			  }
		  }
	  },
	  error: function(error){
		  console.log(eval(error))
	  },
  });
})

$(document).ready(function(){
	$("#board").tablesorter();
});


</script>

{% endblock %}
