{% extends 'main/base.html' %}
{% block strategy_active %}active{% endblock %}
{% block body %}

<a href="{% url 'main:add_strategy' %}" class="btn btn-success" style="margin:5px">Add</a>

<div class="list-group">
	{% for s in sims %}
	<a href="{% url 'main:strategy_detail' s.num %}" class="list-group-item">
		<h5>{{s.name}}</h5>
		<small id="{{ s.num }}">{{s.progress}}%</small>
		<p>{{s.detail}}</p>
	</a>

	<script>
	(function progressUpdate{{ s.num }}() {
		var isHundred = false;
		$.ajax({
			url: "{% url 'main:get_progress' s.num %}",
			dataType: 'json',
			success: function(data){
				$("#{{ s.num }}").html(data['value'] + "%");
				if(data['value'] + "%" == "100%") isHundred = true;
			},
			complete: function(){
				if(!isHundred) setTimeout(progressUpdate{{ s.num }}, 100);
			},
		});
	})();
	</script>
	{% endfor %}
</div>

<script>

</script>

{% endblock %}
